
      <!-- Footer -->

       <nav class="footer">
        <div class="container">
            <div class="row footer-items">
              
              
             <!--   footer nav  is disabled on mobile devices -->
               <div class="col-lg-5 footer-menu left">
                   <ul>
                <li class="active"><a href="#home">Home</a></li>
                <li ><a href="#players">Players</a></li>
                <li ><a href="#results">Results</a></li>
                <li ><a href="#courts">Courts</a></li>
                       
                   </ul>
               </div>
               
               <div class="col-lg-2 footer-logo-col">
                   <a class="footer-logo" href="#"><img src="img/logo.png" alt=""></a>
               </div>
               
               <div class="col-lg-5 footer-menu right">
                   <ul>
                           <li ><a href="#competitions">Competitions</a></li>
                <li ><a href="#forum">Forums</a></li>
              
                <li ><a href="#directories">Directories</a></li>
                   </ul>
                   
               </div>
               
            </div>
            
            <div class="row">
                <div class="container">
                    <div class="col-lg-4 col-lg-offset-4 footer-info">
                      <div class="row1">
                          <a href="#contact">Contact Us</a>
                        <a href="#privacy">Privacy Statement</a>
                          
                      </div>
                       
                       <div class="row2">
                        <p>London Tennis | Copyright &copy; 2015</p>
                          
                      </div>
                        
                        
                    </div>
                </div>
            </div>
            
        </div>
    </nav> 
        


               
                     
                 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/sc.js"></script>
        <script src="js/vendor/wow.min.js"></script>
        <script src="js/main.js"></script>
       
    </body>
</html>