<div class="container paper">
          <div class="shadow"></div>
           <div class="row">
               <div class="col-lg-12">
                   <div class="content">
                      <div class="title">
                          <h1>COURTS</h1>
                      </div>
                      
                      
                     
                      <div class="paper-content">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-sm-offset-1 col-lg-offset-1">
                                <div class="filters">
                                      <ul class="nav-tabs nav">
                                      <li ><a href="courts-search.html">Find Court</a></li>
                                      <li  class="active"><a href="courts-popular.html">Most Popular Courts</a></li>
                                      <li ><a href="courts-search-results.html">My Favourite Courts</a></li>
                                

                                       </ul>
                                </div>
                                
                                <p class="description">If entering text below, auto-suggestions will be given based on club name only and are limited to 25 selections. The suggestions are in order of court popularity and do not take account of the other information on this form such as the postcode area. If your court does not appear, please use the Full Search button to do a detailed search of the database which will also search for addresses.</p>
                            </div>

                        </div>
                        
                        
                        
                        <div class="row ">
                            <div class="col-lg-10 col-lg-offset-1 ">
                               <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th><a href="?col=0&amp;srt=desc">Venue</a></th>
                                            <th><a href="?col=0&amp;srt=desc">Postcode</a></th>
                                            <th><a href="?col=0&amp;srt=desc">User-Favourite</a><a class="sort-arrow" href="#sort"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                                            <th><a href="?col=0&amp;srt=desc">Matches Played</a></th>
                                           
                                           
                                            
                                            
                                        </tr>
                                        
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                            <td><a href="court-page.html">Battersea Park</a></td>
                                            <td>SW11 4NJ</td>
                                            <td>326</td>
                                            <td>1251</td>
                                           
                                           
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td><a href="court-page.html">Battersea Park</a></td>
                                            <td>SW11 4NJ</td>
                                            <td>326</td>
                                            <td>1251</td>
                                           
                                           
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td><a href="court-page.html">Battersea Park</a></td>
                                            <td>SW11 4NJ</td>
                                            <td>326</td>
                                            <td>1251</td>
                                           
                                           
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td><a href="court-page.html">Battersea Park</a></td>
                                            <td>SW11 4NJ</td>
                                            <td>326</td>
                                            <td>1251</td>
                                           
                                           
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td><a href="court-page.html">Battersea Park</a></td>
                                            <td>SW11 4NJ</td>
                                            <td>326</td>
                                            <td>1251</td>
                                           
                                           
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td><a href="court-page.html">Battersea Park</a></td>
                                            <td>SW11 4NJ</td>
                                            <td>326</td>
                                            <td>1251</td>
                                           
                                           
                                            
                                        </tr>
                                        
                                        
                                       
                                        
                                        
                                    </tbody>
                               
                                 
                                 
                                 
                                </table>
                            </div>
                                
                                
                                <nav class="page-pagination">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a  href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
                                
                                
                            </div>
                            
                            
                        </div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                     </div>  
                    
                   </div>
                   
               </div>
               
           </div>
           
</div>