<div class="container paper">
          <div class="shadow"></div>
           <div class="row">
               <div class="col-lg-12">
                   <div class="content">
                      <div class="title">
                          <h1>COMPETITIONS</h1>
                      </div>
                      

                     
                      <div class="paper-content">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-sm-offset-1 col-lg-offset-1">
                                <div class="filters">
                                       <ul class="nav-tabs nav">
                                      
                                      
                                     <li    ><a href="competition-ko.html">Current Draws</a></li>
                                      <li class="active" ><a href="competition-prev.html">Previous Draws</a></li>
                                      <li ><a href="competition-ko-sign.html">KO Info &amp; Sign-up</a></li>
                                        
                                       

                                       </ul>
                                </div>
                                
                              
                            </div>

                        </div>
                        
                        <div class="row league-select">
                            <div class="col-lg-10 col-lg-offset-1">
                                

    
     <div class="col-lg-4 col-lg-offset-4 ko-opt">
    <select name="areaid" class="form-control ">
    <option value="-1">Summer 2010</option>
     <option value="0">Summer 2014</option>
     <option value="0">Winter 2014</option>
     <option value="0">Spring 2014</option>
     <option value="0">Winter 2014</option>
     <option value="0">Autumn 2013</option>
     <option value="0">Summer 2013</option>
     
     

   </select>
     </div>
     
  
                                
                            </div>
                            
                        </div>
                        
                        
                        
                        <div class="row">

          <div class="filters table-filter">
                                      <ul class="nav-tabs nav">
                                      <li class="active" ><a href="#ko=men">Men</a></li>
                                      <li ><a href="#ko-ladies">Ladies</a></li>
                                                            

                                       </ul>
                                </div>
          
    
                          <div class="col-lg-10 col-lg-offset-1 ">
                                 
                                 
                                 
                                  <!--   Ko image , automaticaly scaled to 100% width of the container -->
                                 
                                 <div class="ko-images">
                                     <img src="/img/group_2.jpg" alt="">
                                     
                                 </div>
                                 
                                  
                              <!--   Ko description   -->
                                  
                                  
                                    <p class="description">The finals of the London Tennis 2011 Summer Knockout Tournament were staged at the heart of British professional tennis, the <a href="http://www.lta.org.uk/About-Us/National-Tennis-Centre/">National Tennis Centre</a> on Sunday 19th September 2010.<br><br>
The Mens' final was postponed due to one of the finalists being unavailable, while in the Ladies' final, James Linney (<a href="http://www.londontennis.co.uk/ko/index.php?srcm=4#">linney13</a>) beat Antonio Agresta (<a href="http://www.londontennis.co.uk/ko/index.php?srcm=4#">agre07</a>) 6-4 7-5.<br><br>
Many thanks to the umpire, Tim Pearce, and to the photographer of those amazing photos, Derek Linney, (<a href="http://www.takebetterpictures.co.uk">www.takebetterpictures.co.uk</a>). Derek is James' father.</p>
                                  
                                   <div class="division-name">
                                  <p>The 2014 London Tennis Summer Knockout Finals</p>
                                  <p class="table-note">Semi Finals to be played by 22 December</p>
                                  
                                  
                              </div>
                                <div class="ko-table table-responsive">
                                  <table class="table table-bordered ko-table">
                                   
                                    
                                    <tbody>
                                       
                                    
                                       
                                        <tr>
                                            <td class="league-title">Round 1</td>
                                            <td class="league-title">Round 2</td>
                                            
                                            
                                            
                                            <td class="league-title">Quarter Finals</td>
                                            <td class="league-title">Semi Finals</td>
                                            <td class="league-title">Final</td>
                                           
                                      
                                           
                                           
                                            
                                        </tr>
                                        
                                        <tr>
                                           <td class="ko-data">
                                           <a class="winner" href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player2</a>(5)
                                           <br>
                                           <p>6-3 5-0</p>
                                           </td>
                                           
                                           <td rowspan="2" class="ko-data data-center round-2">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a class="winner"  href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                           <td rowspan="4" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a class="winner"  href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                           <td rowspan="8" class="ko-data data-center semi-finals">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a class="winner"  href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                           <td rowspan="16" class="ko-data data-center finals">
                                               <a class="winner"  href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                         <tr>
                                           <td class="ko-data">
                                           <a href="#player">player3</a>(20)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-0 6-1</p>
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                        <tr>
                                           <td class="ko-data">
                                           <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player2</a>(5)
                                           <br>
                                           <p>6-3 5-0</p>
                                           </td>
                                           
                                           <td rowspan="2" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                         <tr>
                                           <td class="ko-data">
                                           <a href="#player">player3</a>(20)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-0 6-1</p>
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                       <!-- Four games    -->
                                        
                                        <tr>
                                           <td class="ko-data">
                                           <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player2</a>(5)
                                           <br>
                                           <p>6-3 5-0</p>
                                           </td>
                                           
                                           <td rowspan="2" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                           <td rowspan="4" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                         <tr>
                                           <td class="ko-data">
                                           <a href="#player">player3</a>(20)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-0 6-1</p>
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                      <tr>
                                           <td class="ko-data">
                                           <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player2</a>(5)
                                           <br>
                                           <p>6-3 5-0</p>
                                           </td>
                                           
                                           <td rowspan="2" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                         <tr>
                                           <td class="ko-data">
                                           <a href="#player">player3</a>(20)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-0 6-1</p>
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                        <!-- Four games    -->
                                        
                                        <tr>
                                           <td class="ko-data">
                                           <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player2</a>(5)
                                           <br>
                                           <p>6-3 5-0</p>
                                           </td>
                                           
                                           <td rowspan="2" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                           <td rowspan="4" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                           <td rowspan="8" class="ko-data data-center semi-finals">
                                            <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                         <tr>
                                           <td class="ko-data">
                                           <a href="#player">player3</a>(20)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-0 6-1</p>
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                      <tr>
                                           <td class="ko-data">
                                           <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player2</a>(5)
                                           <br>
                                           <p>6-3 5-0</p>
                                           </td>
                                           
                                           <td rowspan="2" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                         <tr>
                                           <td class="ko-data">
                                           <a href="#player">player3</a>(20)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-0 6-1</p>
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                      
                                        <!-- Four games    -->
                                        
                                        <tr>
                                           <td class="ko-data">
                                           <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player2</a>(5)
                                           <br>
                                           <p>6-3 5-0</p>
                                           </td>
                                           
                                           <td rowspan="2" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                           <td rowspan="4" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                         <tr>
                                           <td class="ko-data">
                                           <a href="#player">player3</a>(20)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-0 6-1</p>
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                      <tr>
                                           <td class="ko-data">
                                           <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player2</a>(5)
                                           <br>
                                           <p>6-3 5-0</p>
                                           </td>
                                           
                                           <td rowspan="2" class="ko-data data-center">
                                               <a href="#player">player1</a>(2)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-3 5-0</p>
                                               
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                         <tr>
                                           <td class="ko-data">
                                           <a href="#player">player3</a>(20)
                                           <p>vs</p>
                                           <a href="#player">player4</a>(15)
                                           <br>
                                           <p>6-0 6-1</p>
                                           </td>
                                           
                                            
                                        </tr>
                                        
                                        
                                      
                                        
                                       
                                        
                                        
                                    </tbody>
                               
                                 
                                 
                                 
                                </table>
  
                                </div>
                                  
                          
                          
                          
                            </div>
                        </div>
                        
                        
                                             
                        
                        
                        
                        
                        
                        
                        
                        
                        
                     </div>  
                    
                   </div>
                   
               </div>
               
           </div>
           
</div>