
                                      
                                     
                                    
                                   <div class="container paper">
          <div class="shadow"></div>
           <div class="row">
               <div class="col-lg-12">
                   <div class="content">
                      <div class="title courn-name">
                          <h1>WIMBLEDON PARK</h1>
                      </div>
                      
                      
                     
                      <div class="paper-content">
                            <div class="row">
                                 <div class="col-lg-10 col-lg-offset-1">
                                        <form class="form-horizontal new-forum" role="form">
  
                                     
                                     <div class="form-group">
                                     <span class="help-block "> Please use this form to add any details you have regarding this club or park.
<br><br>
If you are looking for players to player on these courts, please create a free London Tennis user account and search for players in our database.</span>
                                         <label for="" class=" col-sm-2 control-label">Post</label>
                                         <div class="col-sm-8">
                                             <textarea name="content" id="messagePost_id" class="form-control" cols="30" rows="10"></textarea>

                                         </div>
                                         
                                     </div>
                                      
<div class="submit col-lg-2 ">
   <button type="submit" name="findplayerbutton" class="btn btn-green"><span class="glyphicon glyphicon-share-alt"></span>Update</button>  
    
</div>
                                      
                                      </form>
                                
                                
                                
                                
                                
                                
                                    </div>
                                </div>

                             </div>          
                            
                                        
                          </div>

                        
                        
                     </div>  
                    
                   </div>
                   
               </div>