<div class="container paper">
          <div class="shadow"></div>
           <div class="row">
               <div class="col-lg-12">
                   <div class="content">
                      <div class="title">
                          <h1>HELP</h1>
                      </div>
                      
                      
                     
                      <div class="paper-content">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-lg-offset-1">
                                
                                
                                <p class="description">Please email <a href="#support">support@londontennis.zendesk.com</a> to create a ticket in our support system.
                                <br><br>
                                We have replaced our old, creaking support system with ZenDesk. By emailing the address above, your request will be created as a ticket in the ZenDesk system and Paul Barton or Chris Moreton will respond to you as swiftly as possible.
                                </p>
                                
                                
                            </div>

                        </div>
                        
                        
                     </div>  
                    
                   </div>
                   
               </div>
               
           </div>
           
</div>