<div class="container paper">
          <div class="shadow"></div>
           <div class="row">
               <div class="col-lg-12">
                   <div class="content">
                      <div class="title">
                          <h1>MY ACCOUNT</h1>
                      </div>
                      
                      
                     
                      <div class="paper-content">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-sm-offset-1 col-lg-offset-1">
                                <div class="filters">
                               <ul class="nav-tabs nav">
                                      <li   ><a href="my-account.html">My Dashboard</a></li>
                                      <li   ><a href="my-account-inbox.html">My Inbox</a></li>
                                      <li ><a href="my-account-settings.html">My Settings</a></li>
                                      <li  ><a href="my-account-friends.html">My Friends</a></li>
                                      <li  class="active"  ><a href="my-accounts-block-list.html">My Block List</a></li>
                                      <li ><a href="my-account-courts.html">My Courts</a></li>
                                      <li ><a href="my-account-calendar.html">My Calendar</a></li>
                                      <li ><a href="my-account-entires.html">My Entires</a></li>

                                       </ul>
                                </div>
                                
                                <hr>
                            </div>

                        </div>
                        
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <form class="form-horizontal new-forum" role="form">
                           
  <div class="form-group">
    <label for="player-name" class="col-lg-1 col-md-1 col-sm-2 control-label">Username</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="player-name" >
    </div>
    <div class="col-sm-3">
        <button type="submit" name="findcourt" class="btn btn-green">block user</button>  
        
    </div>
    
  </div>
                                      
                                      </form>
                              
                              
                               
 
                            </div>
                            
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            
                                            <th>Username</th>
                                           
                                            <th>Remove</th>
                                        </tr>
                                        
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                            <td><a data-toggle="modal" data-target="#playermodal" href="#profile">Paul Barton</a></td>
                                           
                                            <td ><a href="#remove"><img src="/img/close.png" alt=""></a></td>
                                            
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td><a data-toggle="modal" data-target="#playermodal" href="#profile">Paul Barton</a></td>
                                           
                                            <td ><a href="#remove"><img src="/img/close.png" alt=""></a></td>
                                            
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td><a data-toggle="modal" data-target="#playermodal" href="#profile">Paul Barton</a></td>
                                           
                                            <td ><a href="#remove"><img src="/img/close.png" alt=""></a></td>
                                            
                                            
                                        </tr>
                                        
                                        
                                        
                                        
                                    </tbody>
                               
                                 
                                 
                                 
                                </table>
                            </div>
                                
                                
                            </div>
                            
                            
  
                        </div>
                        
                        
                     </div>  
                    
                   </div>
                   
               </div>
               
           </div>
           
</div>