<div class="container paper">
          <div class="shadow"></div>
           <div class="row">
               <div class="col-lg-12">
                   <div class="content">
                      <div class="title">
                          <h1>WELCOME TO LONDON TENNIS</h1>
                      </div>
                      
                      
                     
                      <div class="paper-content">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-sm-offset-1 col-lg-offset-1">
                                <div class="filters">
                                      <ul class="nav-tabs nav">
                                      <li   ><a href="Getting Started.html">Getting Started</a></li>
                                      <li ><a href="faq">F.A.Q</a></li>
                                      <li class="active"   ><a href="ratings">Ratings Help</a></li>
                                      <li    ><a href="knockout-info-signup">Knockout Help</a></li>
                                      <li    ><a href="help">Contact Us</a></li>
                                

                                       </ul>
                                </div>
                                
                                <p class="description">
                                </p>
                            </div>

                        </div>
                        

                        
                        
                                
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 court-comments">
                                          
                                       
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>About the Ratings</p>
                                              </div>
                                              <div class="info-explain">
                                             <ul class="terms">
                                                 <li>International Tennis Number (ITN) - a common system introduced by the International Tennis Federation (ITF) allowing players to rate themselves using a ten-point scale.</li>
                                                 <li>A walkover has been claimed by one of the players. Please see the section on walkovers below for details of when a walkover may be claimed.</li>
                                                 <li>A message has been sent to the London Tennis admins giving details of when the match can be played, it is however unlikely that extensions will be given.</li>
 </ul>
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <p class="venue-title">International Tennis Number (ITN)</p>
                                             
                                       
                                              <div class="info-explain">
You can change your ITN rating at any time on the site <a href="#settings">settings page</a>.
<br><br>
Players without an LTA rating (see below) can select their own rating based on the International Tennis Federation's International Tennis Number (ITN) rating system.
<br><br>
The bands used by London Tennis are described below. The words in italics have been added by London Tennis to help you further make a judgement as to your rating.
<br><br>
We encourage you to visit <a href="http://www.itftennis.com/itn">http://www.itftennis.com/itn</a> - here you will find in-depth information about this rating system.
                                           
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>ITN 10 - Starter</p>
                                              </div>
                                              <div class="info-explain">
                                        This player is new to playing competition and can serve, return and rally at a slow pace on the forehand wing.
                                              </div>
  
                                          </div>
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>ITN 9 - Recreational</p>
                                              </div>
                                              <div class="info-explain">
This player is just able to play competition and can serve, return and rally at a very slow pace on the forehand wing.
                                              </div>
  
                                          </div>
                                          
                                          
                                           <div class="info-row">
                                              <div class="info-head">
                                                    <p>ITN 8 - Good Recreational</p>
                                              </div>
                                              <div class="info-explain">
This player is able to judge where the ball is going and sustain a short rally.
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>ITN 7 - Low Intermediate</p>
                                              </div>
                                              <div class="info-explain">
This player is fairly consistent when hitting medium paced shots, but is not yet comfortable with all strokes. Lacks control over depth, direction and power.
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>ITN 6 - Middle Intermediate</p>
                                              </div>
                                              <div class="info-explain">
This player exhibits more aggressive net play and has improved court coverage, improved shot control and is developing teamwork in doubles.
<br><br>
An average club player - perhaps occassionally representing their club at a lower division in inter-club matches.
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>ITN 5 - High Intermediate</p>
                                              </div>
                                              <div class="info-explain">
This player has dependable strokes including directional control and depth on both groundstrokes. Has the ability to use lobs, overheads, approachshots and volleys with some success.
<br><br>
Probably one of the better players at their club, developing towards representing their club's first or second team at inter-club competition.
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>ITN 4 - Top Club Level</p>
                                              </div>
                                              <div class="info-explain">
This player can use power and spin and can handle pace. Has sound footwork and can control depth of shots. Can vary a game plan according to opponents and can hit first serves with power and impart spin on second serves.
<br><br>
Capable of representing their club's first team in inter-club competition.
                                              </div>
  
                                          </div>
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>ITN 3 - County Standard</p>
                                              </div>
                                              <div class="info-explain">
This player has good anticipation and frequently an outstanding shot or attribute around which a game may be structured. Can regularly hit winners and force errors off short balls. Can put away volleys and smashes and has a variety of serves to rely on.
<br><br>
This player likely represents their county in competitive matches.
                                              </div>
  
                                          </div>
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>ITN 2 - National Standard</p>
                                              </div>
                                              <div class="info-explain">
This player has power/or consistency as a major weapon. Can vary strategies and styles of play in a competitive situation. Is usually a national ranked player
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>ITN 1 - World Standard</p>
                                              </div>
                                              <div class="info-explain">
This player has had intensive training for national tournaments at junior and senior level and has extensive professional tournament experience. Holds or is capable of holding an ATP/WTA ranking and their major source of income is through tournament prize money.
                                              </div>
  
                                          </div>
                                          
                                          
                                          
                                          
                                          <div class="info-row">
                                              <p class="venue-title">LTA Ratings</p>
                                             
                                       
                                              <div class="info-explain">
These ratings are given by the LTA to LTA-registered players based on results against other LTA-rated players. For more on LTA ratings please go to: <br><br>
                                          <a href="http://www.lta.org.uk/Players/AEGON-British-Tennis-Ratings-and-Rankings/">AEGON British Tennis Ratings &amp; Rankings</a>
                                          <br><br>
                                          <a href="http://www.lta.org.uk/articles/Players/AEGON-British-Tennis-Ratings-FAQs/">AEGON British Tennis Ratings FAQs</a>
                                           
                                              </div>
  
                                          </div>
                                          
                                          
                                           <div class="info-row">
                                              <p class="venue-title">Site Rankings</p>
                                             
                                       
                                              <div class="info-explain">
Please see the <a href="#faq">Frequently Asked Questions</a> section of the help pages for more information on our ranking system.
                                           
                                              </div>
  
                                          </div>
                                          
                                          
                                          
    
                                       
                                        
                                        
                                    </div>              
                                    
                                    
                                </div>
                                
                                
                                
                        
                        
                                            
                        
                        
    
                        
                       <!-- end of paper  -->
                        
                     </div>  
                <!--   end of content   -->
                   </div>
                   
               </div>
               
           </div>
           
</div>