<div class="container paper">
          <div class="shadow"></div>
           <div class="row">
               <div class="col-lg-12">
                   <div class="content">
                      <div class="title">
                          <h1>WELCOME TO LONDON TENNIS</h1>
                      </div>
                      
                      
                     
                      <div class="paper-content">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-sm-offset-1 col-lg-offset-1">
                                <div class="filters">
                                      <ul class="nav-tabs nav">
                                      <li class="active"  ><a href="Getting Started.html">Getting Started</a></li>
                                      <li ><a href="faq">F.A.Q</a></li>
                                      <li    ><a href="ratings">Ratings Help</a></li>
                                      <li    ><a href="knockout-info-signup">Knockout Help</a></li>
                                      <li    ><a href="help">Contact Us</a></li>
                                

                                       </ul>
                                </div>
                                
                                <p class="description">Welcome to London Tennis, the biggest tennis community in London! Now that you've created your account you may wish to take a moment to read this brief overview of how you can get the most out of the site!
                                </p>
                            </div>

                        </div>
                        

                        
                        
                                
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 court-comments">
                                          
                                       
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>Manage your profile</p>
                                              </div>
                                              <div class="info-explain">
                                              The 'My Account' tab on the main menu will allow you to view and update all aspects of your profile including your playing preferences, your availability calendar, favourite courts, email preferences and login details. 
<br><br>
In order to start appearing in the player lists you should write a bit about yourself in your player profile.
                                           
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>Find Players</p>
                                              </div>
                                              <div class="info-explain">
                                             Click the 'Players' menu tab to view a list of London Tennis players. Click on any column on this list to sort by your preferred criteria (click the same column a second time to reverse the sort order). You can also use the sub menu links such as 'Most Played' and 'Recent Joiners' to sort the list. 
<br><br>
While on the 'Players' page you will see the 'Player Search' option on the sub menu bar. You can use this form to perform a detailed player search. 
<br><br>
Use the Calendar link on the same sub menu to view the availability of other players looking for matches over the next few weeks. Don't forget to keep your own calendar up-to-date if you wish for other people to find you in this manner! 
<br><br>
You should also notice the 'Buddy List' link on the sub menu. You can use this to keep track of your friends and favourite players. You will see your match record against each friend and you can choose to receive email notifications when certain of your friends post a match result.
                                           
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>Message Players</p>
                                              </div>
                                              <div class="info-explain">
                                          You can contact any player through the London Tennis website by clicking the 'Send a message to this player' link next to their name at the top of their full profile. 
<br><br>
If you see the mini-profile pop up box when you click a player's name, there is a link towards the bottom of the box which will take you to their full profile page.
                                              </div>
  
                                          </div>
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>Record your scores</p>
                                              </div>
                                              <div class="info-explain">
All scores between London Tennis members can be recorded on the site. Simply use the 'Add Result' link on the 'Results' sub menu to record one of your own results. You can also use the 'Results' tab to view the results of all other friendly and competitive matches. 
<br><br>
Once you have completed matches against five unique opponents you will be awarded a London Tennis ranking. A full breakdown of the ranking system we used can be found in the Knowledgebase by selecting the 'Help' tab. 
<br><br>
Results between LTA registered players will be forwarded to the LTA to count towards your LTA rating. If you have an LTA number you can add this on the 'Playing Standard' sub option under the 'My Account' menu.
                                              </div>
  
                                          </div>
                                          
                                          
                                           <div class="info-row">
                                              <div class="info-head">
                                                    <p>Find Courts</p>
                                              </div>
                                              <div class="info-explain">
Click the 'Courts' tab to search our comprehensive courts database. 
<br><br>
Please take a moment to find your favourite courts and add them to your profile using the 'Add to Favourites' link on the court's details page. 
<br><br>
Please keep us up-to-date with any knowledge you have about courts and venues that is not reflected in the database.
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>Join a Competition</p>
                                              </div>
                                              <div class="info-explain">
There are four regionalised league seasons per year and two all-regions knockout competitions. News on competitions is usually displayed either in the scrolling ticker on the home page or in the news box just below the ticker. 
<br><br>
Rules and information about the running of the competitions can be found using the sub menu of the competitions page where you can also sign up for a competition. On this sub menu you can also find the results of all past competitions. 
<br><br>
The finals of the bi-annual knockout tournaments are held at the fantastic <a href="http://www.lta.org.uk/About-Us/National-Tennis-Centre/">National Tennis Centre</a>
                                              </div>
  
                                          </div>
                                          
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>Get chatting in the forums</p>
                                              </div>
                                              <div class="info-explain">
You can use the London Tennis forums to shoot the breeze with other members, to arrange matches, or to let us know what you think, which leads us to...
                                              </div>
  
                                          </div>
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>Let us know what you think!</p>
                                              </div>
                                              <div class="info-explain">
If you have any questions or comments, please don't hesitate to contact us via the Help pages.

                                              </div>
  
                                          </div>
                                          
                                          <div class="info-row">
                                              <div class="info-head">
                                                    <p>Get Cracking!</p>
                                              </div>
                                              <div class="info-explain">
What do you want to do now? <br><br>
                                             I want to... <a href="#my account">Update my profile</a> /
                                             <a href="#my account">Browse the forums</a> /
                                             <a href="#find players">Find players</a> / 
                                             <a href="#court search">Look for a court</a> /
                                             <a href="#results">Check the results</a>
                                              </div>
  
                                          </div>
                                          
                                          
                                          
                                          
                                          
                                          
                                        

                        
                                          
                                          
                                          
                                         
                                         
                                              
                                              
                                          
                                          
                                          
                                          
      
                                          
                                          
                                          
                                          
                                          
                                       
                                        
                                        
                                    </div>              
                                    
                                    
                                </div>
                                
                                
                                
                        
                        
                                            
                        
                        
    
                        
                       <!-- end of paper  -->
                        
                     </div>  
                <!--   end of content   -->
                   </div>
                   
               </div>
               
           </div>
           
</div>